body {
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu Condensed', sans-serif;
}

main {
	padding: 1rem;
}

.main-header {
	width: 100%;
	height: 3.5rem;
	background-color: rgb(0, 0, 0);
	position: sticky;
	top: 0;
}

.main-content {
	margin-left: 1rem;
}

.main-header__nav {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-header__list {
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.main-header__login {
	background-color: brown;
	color: white;
}

.main-header__item {
	line-height: 3.5rem;
	margin: 0 0.5rem;
	padding: 0;
	font-size: 1.5rem;
	color: grey;
	font-family: 'Paytone One', sans-serif;
}

.main-header__item a {
	text-decoration: none;
	color: inherit;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
	color: white;
}

.centered {
	text-align: center;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
}

.card {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	width: 30rem;
	margin: 5px;
	background-color: rgb(230, 229, 228);
}

.card__header,
.card__content {
	padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
	margin: 0;
}

.card__image {
	width: 100%;
}

.card__image img {
	width: 100%;
}

.card__actions {
	padding: 1rem;
	text-align: center;
}

.card__actions button,
.card__actions a {
	margin: 0 0.25rem;
}

.form {
	display: inline-block;
}

.btn {
	padding: 3px;
	font: inherit;

	border: 1px solid black;
	color: white;
	background-color: black;
}

button.btn:hover {
	color: black;
	background-color: rgb(255, 255, 255);
}

button.selected {
	color: black;
}

.pagination {
	margin-top: 2rem;
	text-align: center;
}

.pagination a {
	text-decoration: none;
	color: white;
	background-color: black;
	border: 1px solid black;
	margin: 0 1rem;
	padding: 0.5rem;
}

.pagination a:hover {
	text-decoration: none;
	color: black;
	background-color: white;
	border: 1px solid black;
}
.pagination a.active {
	text-decoration: none;
	color: black;
	background-color: white;
	border: 1px solid black;
}
